* {
    margin:0px;
    padding:0px;
}
.container {
    margin-top : 5px;
    margin-left: 100px;
}
/* #siteheading {
    /* padding-left:100px; */
    /* border:2px solid black; 
} */

@media (min-width:1000px) {
#pagetitle{
    text-align: left;
    color: brown;
}
}

@media (max-width:999px) {
#pagetitle{
    text-align: left;
    /* padding-left: 180px; */
    padding-left: 35vw;
    color: brown;
}

}
body{
    background-color: floralwhite;
    overflow-x: visible;
}
.contentheading{
    font-size: 30px;
    color: brown;
    margin-left: 5px;
}

@media (min-width:1000px) {
#logdiv{
    /* border : 2px solid black; */
    text-align: left;
    font-size: 15px;
    max-width: 300px;
    /* padding-left: 105px; */
    margin-left:auto;
    margin-right: 0px;
    /* float:right; */
}
}

@media (max-width:999px){
#logdiv{
    /* border : 2px solid black; */
    text-align: left;
    /* margin-left : 205px; */
    margin-left:42vw;
    font-size: 15px;
    max-width: 300px;
    padding: 0px;
}
}
@media (min-width:1000px) {
    .nav{
        /* border:2px solid black; */
        /* margin-left: 650px; */
        /* max-width: 250px; */
        /* text-align: right; */
        padding-left: 10px;
        padding-right: 0px;
        flex-wrap: nowrap;
        /* padding-left: 100px; */
        margin-left:auto;
        margin-right: 0px;
        /* float:right; */
        
    }
}
@media (max-width:999px){
    .nav {
        /* border:2px solid black; */
        margin-top : 5px;
        /* margin-left:200px; */
        margin-left:38vw;
        flex-wrap: nowrap;
    }
}
a.nav-link {
        /* text-align: left; */
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        border : 2px solid black; 
        border-radius: 5px;
        background-color: aliceblue;
        margin : 1px;
        /* height: 100%; */
        /* width: 100%; */
        padding : 5px;
        padding-top : 2px;
        padding-bottom: 2px;
        font-size: 15px;
        text-decoration: none;
        color: initial;
}


.header {
    background-color:lightslategray;
    padding:5px;
    padding-top : 20px;
    padding-bottom : 20px;

}

a.nav-link:hover {
    background-color: orange;
}


.listofexps {
    list-style: none;
    counter-reset: item;
    color : darkcyan;
    margin-left: 10px;
    padding-left: 20px;
  }
.listofexps li {
    counter-increment: item;
    margin-bottom: 5px;
  }
.listofexps li:before {
    margin-right: 10px;
    content: counter(item);
    background: lightblue;
    border-radius: 100%;
    color: white;
    width: 1.5em;
    text-align: center;
    display: inline-block;
  }

form.loginout {
    margin:10px;
}

#imgbg img{
    width:95%;
    margin-left: 30px;
}

#welcomediv {
    font-size: 50px;
    text-align: center;
    color: red;
}
@media (max-width:699px){
    body {
        overflow-x: hidden;
    }
}
.tabexp {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tabexp td,th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tabexp tr:nth-child(even) {
    background-color: #dddddd;
  }
.controlexp {
    padding: 10px;
    margin:10px;
}
.controlexp input[type="submit"] {
    border-radius: 5px;
    border: 2px solid green;
    max-width: 100px;
    max-height: 40px;
    padding: 5px;
    margin-left: 100px;
    margin-bottom: 10px;
}
.controlexp input[type="reset"] {
    border-radius: 5px;
    border: 2px solid red;
    max-width: 100px;
    max-height: 40px;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}


.row {
    margin-right:0px;
}
